# dependencies
/node_modules
/dist

# misc
.idea

// /*#__PURE__*/ как я понял, обозначает не используему часть кода, при транспиляции этот код можно будет потом убрать с помощью UglifyJS, если они не используются.
